<div class="row h-screen">
    <main role="main" class="col-md-12">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                {{outlet}}
            </div>
            <div class="col-md-2"></div>
        </div>
    </main>
</div>